<header>
  <input type='checkbox' id='toggle' class="toggle" style='display:none;'
  />
  <label class='toggle-btn toggle-btn__cross' for='toggle'>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </label>
  <nav>
    <ul class="menubar" >
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/portfolio">Portfolio</a>
      </li>
      <li>
        <a routerLink="/about">About Me</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div class="wrap black" data-jarallax='{"speed": 0.2}'>
    <div class="title">
      <h1 class="white-text wow fadeInDown">Mackenzie Miller</h1>
    </div>
    <div class="text-center pt-5 mt-3 mb-3">
      <h2 class="white-text wow fadeInDown">Custom Designs</h2>
    </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="assets/img/homeBG.jpg"
            class="w-100 rounded mb-4"
            alt=""
          />
          <img
            src="assets/img/aboutBG.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="assets/img/aboutBG.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
      </div>
    </div>
</main>
