.bg {
  height:100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  //background-position: center;

}
.sq{
  background-color: #e03859;
}
.pi{
  background-color: #e03859;
  opacity: .8;

}
